:root {
  --mobile-width: 375px;
  --desktop-width: 1440px;

  --ff-primary: "Space Grotesk", sans-serif;

  --primary-clr: hsl(249, 99%, 64%);
  --primary-clr-x: hsl(278, 94%, 30%);
  --primary-red: hsl(0, 100%, 66%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-light-gray: hsl(270, 3%, 87%);
  --neutral-dark-gray: hsl(279, 6%, 55%);
  --neutral-very-dark-violet: hsl(278, 68%, 11%);

  --fs-body: 18px;
  --fs-error: 12px;
}

/* DESKTOP */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  font-family: var(--ff-primary);
}
/* contains the left and right columns */
main {
  display: flex;
  position: relative;
  width: 100%;
}
/* contains the background image */
.col-left > img {
  width: 35vw;
}
/* contains the form */
.col-right {
  padding: 14em 20em;
}

/* form */
form {
  width: 20vw;
  position: relative;
  & input {
    margin-top: 0.4rem;
    border: 2px solid var(--neutral-dark-gray);
  }
}

input:focus {
  border: 2px solid var(--primary-clr-x);
}
label {
  display: block;
  color: var(--neutral-very-dark-violet);
  width: 100%;
  font-size: 14px;
}

input,
button {
  width: 30vw;
  height: 3em;
  border-radius: 10px;
  outline: 0;
  padding: 0 10px;
  font-size: 18px;
}

/* confirm button of the form */
button {
  background-color: var(--neutral-very-dark-violet);
  color: var(--neutral-white);
  border: 2px solid var(--neutral-very-dark-violet);
}
.card-security {
  width: 100%;
  display: flex;
  justify-content: space-between;
  & .exp-date-wrap {
    flex-basis: 48%;
  }
  & .card-cvc {
    flex-basis: 48%;
  }
}
.exp-date {
  display: flex;
  justify-content: space-between;
}
.exp-date > input {
  width: 6vw;
}
.exp-date > input:nth-child(1) {
  margin-right: 1vw;
}
.card-cvc {
  width: 14vw;
  margin-left: 3vw;
}
.card-cvc > input {
  width: 14vw;
}

/* ASIDE */
/* 
the aside contains the card images and input fields
holding the card details 
*/
aside {
  position: absolute;
  top: 15%;
  left: 10%;
  color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 245px 20px 245px;
  grid-template-areas:
    "front front ."
    "bridge bridge bridge"
    ". back back";
}
.aside-up {
  background-image: url("./images/bg-card-front.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 447px;
  height: 245px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  grid-area: front;
}
.card-number {
  font-size: 37px;
}
.cardholder {
  display: flex;
  justify-content: space-between;
}
/* separates the front and back of the card */
.bridge {
  grid-area: bridge;
}
.aside-down {
  background-image: url("./images/bg-card-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 447px;
  height: 245px;
  position: relative;
  grid-area: back;
}
.cvc {
  position: absolute;
  top: 45%;
  left: 80%;
  font-size: 20px;
}

/* error message styling */
.error-msg {
  color: var(--primary-red);
  font-size: var(--fs-error);
  margin-bottom: 1em;
  margin-top: 0.25em;
}
.error {
  border: 2px solid var(--primary-red);
}
/* THANK YOU PAGE */
/* 
User will be taken here when they click 'confirm' on the form
*/
.completed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
  position: relative;
  & img {
    margin-bottom: 30px;
    width: 60px;
  }
  & h1 {
    margin-bottom: 20px;
  }
  & button {
    margin: 30px 0;
    width: 100%;
  }
}

/* MOBILE */
@media (max-width: 420px) {
  body {
    width: 100vw;
  }
  .hidden {
    display: none;
  }
  main {
    width: 100vw;
    display: flex;
    flex-direction: column;

    & .col-left {
      width: 100%;
      & source:nth-child(2) {
        width: 400px;
      }
    }
    & .col-right {
      padding: 0;
      width: 100vw;
      height: auto;
      padding: 60px 20px 40px;
      & form {
        width: 100%;
        & input,
        & button {
          width: 100%;
        }
        & .card-security {
          & .exp-date-wrap {
            flex-basis: 48%;
          }
          & .card-cvc {
            flex-basis: 48%;
          }
        }
      }
    }
    /* 
    user will be directed here when they click the
    'confirm' button of the form
     */
    & .completed {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: auto;
      width: 100%;
      margin-top: 40px;

      & img {
        margin-bottom: 30px;
        width: 60px;
      }
      & h1 {
        margin-bottom: 20px;
      }
      & button {
        margin: 30px 0;
        width: 100%;
      }
    }
  }
  aside {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    z-index: 101;
    top: 20px;
    left: 10px;
    width: 375px;
    & .aside-up {
      background-size: 18.75rem;
      position: absolute;
      top: 100px;
      left: 10px;
      z-index: 102;
      width: 300px;
      height: 165px;
      padding: 20px 15px;
      & .img-wrap img {
        width: 60px;
      }
      & .card-number {
        font-size: 30px;
      }
      & .cardholder p {
        font-size: 1rem;
      }
    }
    & .aside-down {
      background-size: 18.75rem;
      top: 5px;
      left: 40px;
      width: 300px;
      height: 165px;
      & .cvc {
        top: 43%;
        left: 78%;
      }
    }
  }
}

.hidden {
  display: none;
}
